      <!-- Brand Poster Section-->
      <div class="container-fluid my-lg-3">
        <div class="row">
          <!-- Adjust the col-* class to set the desired width of the card in the grid -->
          <div class="col-12 col-md-12">
            <div class="card bg-dark text-white text-center">
              <img [src]="storefront?.storeBanner" class="card-img img-fluid" style="height: 25vh;" alt="...">
            </div>
          </div>
        </div>
      </div>

       <!--Brand description section-->
       <div class="container-fluid my-lg-3">
        <div class="row" >
          <div class="card mb-3">
            <div class="row">
              <div class="col-3 col-md-3">
                <img [src]="storefront?.storePic" class="img-fluid mx-auto d-block" width="250" height="200" alt="...">
              </div>
              <div class="col-9 col-md-9">
                <div class="card-body">
                  <h5 class="card-title">{{ storefront?.storeName }}</h5>
                  <p class="card-text"><small class="text-body-secondary">{{ storefront?.storeDescription }}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <!--Brand feature shoe section-->
      <!-- <div class="container-fluid mt-lg-3 mb-lg-5">
        <div class="row" >
          <div class="card mb-3">
            <div class="row">
              <div class="col-3 col-md-3">
                <img src="./assets/airJordan1.png" class="img-fluid mx-auto d-block" width="250" height="200" alt="...">
              </div>
              <div class="col-9 col-md-9">
                <div class="card-body">
                  <h5 class="card-title">Name of the advertised Shoe (Probably Query)</h5>
                  <p class="card-text">Descriptoion of advertised Shoe(Probably Query)</p>
                  <p class="card-text"><small class="text-body-secondary">Time Last Updated (Probably Query Date Time)</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4" *ngFor="let shoe of shoes">
            <div class="card" style="width: 18rem;">
              <img [src]="shoe?.shoePic" class="card-img-top" alt="Shoe image">
              <div class="card-body">
                <h5 class="card-title">{{ shoe?.shoeName }}</h5>
                <p class="card-text">{{ shoe?.shoeDescription }}</p>
                <a [routerLink]="['/storefront/shoe', shoe.shoeId]" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
        </div>
      </div>  