<!-- Welcome Page Content -->
<div id="carouselExample" class="carousel slide container px-0 my-5" style="max-width: 50%;">
    <!-- Carousel Inner Content -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/brand.png" class="d-block w-100" alt="...">
      </div>
      <!-- MORE CAROUSEL STUFF -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="./assets/airJordan1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Da Shoe</h5>
            <p class="card-text">Let's say the shoe is a unique one.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  