<div id="carouselExample" class="carousel slide container px-0 my-5" style="max-width: 50%;">
  <div class="carousel-inner ">
    <!-- slideshow 1-->
    <div class="carousel-item active">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-6 text-center">
          <img src="./assets/brand.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <!-- slideshow  2-->
    <div class="carousel-item">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-6 text-center">
          <img src="./assets/anya.jpeg" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <!-- slideshow 3 -->
    <div class="carousel-item">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-6 text-center">
          <img src="./assets/cloudon.jpeg" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
  </div>
  <!-- left right button-->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let shoe of shoes | slice:0:6">
      <div class="card" style="width: 18rem;">
        <img [src]="shoe?.shoePic" class="card-img-top" alt="Shoe image">
        <div class="card-body">
          <h5 class="card-title">{{ shoe?.shoeName }}</h5>
          <p class="card-text">{{ shoe?.shoeDescription }}</p>
          <a [routerLink]="['/storefront/shoe', shoe.shoeId]" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>  