<html lang="en" data-bs-theme ="dark">
  <!-- Main Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Panda-S</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ms-3 me-3">
            <a class="nav-link active" routerLink="/" aria-current="page">Home</a>
          </li>
          <li class="nav-item ms-3 me-3">
            <a class="nav-link" routerLink="/featured">Featured</a>
          </li>
          <li class="nav-item ms-3 me-3">
            <a class="nav-link" routerLink="/sale">Sale</a>
          </li>
          <li class="nav-item ms-3 me-lg-3">
            <a class="nav-link" routerLink="/forum">Forum</a>
          </li>
        </ul>

        <style> 
          .custom-button {
            width:80 px;
            height:40 px;
          }
        </style>

        <!--Shooping cart trigger button -->
        <button type="button" class="btn btn-primary  bi-cart-fill ms-3 d-flex fs-5 btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></button>&nbsp;
        

              <!--User Menu-->
        
              <!-- <div class="dropdown">
                <button class="btn btn-primary bi bi-person-circle dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu" data-bs-popper="left-start" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <div class="card" style="width: 9 rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{ buyer?.buyerName }}</h5>
                          <a href="#" class="btn btn-primary">My Profile</a>
                        </div>
                      </div>
                  </li>
                  <li><a class="dropdown-item" href="#">Setting</a></li>
                  <li><a class="dropdown-item" href="#">Sign In/Sign Out</a></li>
                </ul>
              </div> -->

               <!--User Menu-->
            <div class="dropdown">
              <button class="btn btn-primary bi bi-person-circle dropdown-toggle fs-5 btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
              <ul class="dropdown-menu" data-bs-popper="left-start" aria-labelledby="dropdownMenuButton1">
                <li *ngIf="isLoggedIn">
                  <div class="card" style="width: 14 rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{ buyer?.buyerName }}</h5>
                      <p class="card-text">{{buyer?.buyerEmail}}</p>
                      <p class="card-text">{{buyer?.buyerId}}</p>
                      <!-- <a href="#" class="btn btn-primary">My Profile</a> -->
                    </div>
                  </div>
                </li>
                <!-- <li><a class="dropdown-item" href="#">Setting</a></li> -->
           
                <li *ngIf="!isLoggedIn"><a class="dropdown-item" href="https://panda-s.azurewebsites.net/auth/google">Sign In</a></li>
              
                <!-- <li *ngIf="isLoggedIn"><a class="dropdown-item" href="/logout">Sign Out</a></li> -->
                <li *ngIf="isLoggedIn"><a class="dropdown-item" (click)="userLogout($event)">Sign Out</a></li>
              </ul>
            </div>
      

        <form class=" me-3 d-flex" role="search">
          <input class="form-control ms-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    
      </div>
    </div>
  </nav>
      

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Shopping Cart</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Shoe items using card component-->  
                <div *ngFor="let shoe of cart" class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img [src]="shoe?.shoePic" class="img-fluid rounded-start" alt="shoe image">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ shoe?.shoeName }}</h5>
                        <p class="card-text">Quantity: 1</p>
                        <button type="button" class="btn btn-danger" (click)="removeFromCart(shoe?.shoeId)">Remove</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continue Shopping</button>
              <button type="button" class="btn btn-primary">Checkout</button>
            </div>
          </div>
        </div>
      </div>

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


  <router-outlet></router-outlet>
</html>